<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home - citi</title>
</head>
<body>

<div id="toc_container">
<p class="toc_title">Menu items</p>
<ul class="toc_list">
  <li><a href="/record">1. Record new sample</a>
  <ul>
    <li><a href="/record_random">1.1 Record randomly selected sentence</a></li>
    <li><a href="/record_select">1.2 Choose sentence for recording</a></li>
  </ul>
</li>
<li><a href="/view_samples">2 view recorded samples</a></li>
<li><a href="/add_new_query">3 Add new query to dataset</a></li>
</ul>
</div>

</body>
</html>