{% extends "base.html" %}

{% block content %}
<style>
  .overlay {
    width: 100%;
    height: 100%;
    background-color: rgb(165, 165, 165);
    background-size: cover;
    position: relative;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #cecece;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #456fe2;
  }
  
</style>

<div class="overlay">
  <div class="overlay-content">
    <a href="/record">Record randomly selected sentence</a>
    <a href="/record_select">Choose sentence for recording</a>
    <a href="/view_samples">View recorded samples</a>
    <a href="/add_new_query">Add new query to the dataset</a>
  </div>
</div>

{% endblock %}
