{% extends "base.html" %}

{% block content %}
<style>
    .recorder {
    width: 100%;
    height: 100%;
    background-color: rgb(165, 165, 165);
    background-size: cover;
    position: relative;
    text-align: center;
    margin-top: 30px;
}
</style>

<div class = "recorder">
    <h1>Record new audio query sample</h1>
    <p>Query to be recorded:<br><b>{{query}}</b></p>
    <div id="controls">
     <input type="text" id="soeid" value={{ soeid }}><br>
     <button id="recordButton">Record</button>
     <button id="pauseButton" disabled>Pause</button>
     <button id="stopButton" disabled>Stop</button>
    </div>
    <div id="formats"><h3>start recording to see sample rate</h3></div>
    
    {% if accuracy_score %}
    <p>True Text: {{ true_text }}</p>
    <p>Predicted Text: {{ predicted_text }}</p>
    <p>Accuracy: {{ accuracy_score }}</p>
    {% endif %}
    
    <p><strong>Recordings:</strong></p>
    <ol id="recordingsList"></ol>
    <!-- inserting these scripts at the end to be able to use all the elements in the DOM -->
    <script src="/static/js/recorder.js"></script>
    <script src="/static/js/app.js"></script>
</div>

{% endblock %}