{% extends "base.html" %}

{% block content %}
<style>
    .samples {
    width: 100%;
    height: 100%;
    background-color: rgb(165, 165, 165);
    background-size: cover;
    position: relative;
    text-align: center;
    margin-top: 30px;
}
</style>

<div class="samples">
    <h1>Recorded samples</h1>
    <table border="2" align="center">
    <thead>
    <tr>
        <th>ID</th>
        <th>Query</th>
        <th>File location</th>
    </tr>
    </thead>
    <tbody>
    {% for recording in recordings %}
    <tr>
        <td>{{ recording.id }}</td>
        <td>{{ recording.query_string }}</td>
        <td>{{ recording.wav_location }}</td>
    </tr>
    {% endfor %}
    </tbody>

    </table>

</div>

{% endblock %}

